{{ $avatar := resources.GetMatch .Site.Params.avatar }} 
{{ $tiny := ($avatar.Fill "200x200 q90") }}

<div class="flex-none w-20 h-20 rounded-full overflow-hidden">
  <!-- TODO: don't hardcode -->
  <!-- <a href="{{ .Site.Params.authorURL }}"> -->
  <a href="https://github.com/dieguscl">
    <img
      srcset="{{- with $tiny.RelPermalink -}}{{.}} 200w{{- end -}}"
      src="{{ $avatar.RelPermalink }}"
      width="{{ $avatar.Width }}"
      height="{{ $avatar.Height }}"
      alt="{{ .Site.Title }}"
    />
  </a>
</div>
